# General

# If using jwilder/docker-gen & letsencrypt-nginx-proxy-companion
#VIRTUAL_HOST=www.octobercms.local,octobercms.local

# Details for the user who will own the files - for php & nginx
USER_NAME=www-data
USER_GROUP=www-data
USER_UID=1000
USER_GID=1000


### October CMS ###
OC_APP_DEBUG=true
OC_APP_ENVIRONMENT=development
# Set automatically on setup if not defined
OC_APP_KEY=
OC_APP_CIPHER=AES-256-CBC
OC_APP_NAME=October CMS
OC_APP_URL=http://localhost
OC_APP_TIMEZONE=UTC
OC_APP_LOCALE=en
OC_APP_FALLBACK_LOCALE=en
OC_APP_LOG=single
OC_EDGE_UPDATES=false
OC_DISABLE_CORE_UPDATES=false
OC_BACKEND_FORCE_SECURE=null
OC_BACKEND_URI=backend
OC_ENABLE_SAFE_MODE=false
OC_FORCE_BYTECODE_INVALIDATION=true
OC_CONVERT_LINE_ENDINGS=false
OC_DISABLE_REQUEST_CACHE=false
OC_BROADCASTER_DRIVER=pusher
OC_DB_CONNECTION=sqlite
# For non sqlite databases
OC_DB_HOST=mysql
OC_DB_PORT=3306
OC_DB_DATABASE=storage/app/mydatabase.sqlite
OC_DB_USERNAME=october
OC_DB_PASSWORD=password
OC_REDIS_HOST=redis
OC_REDIS_PASSWORD=
OC_CACHE_DRIVER=file
OC_SESSION_DRIVER=file
OC_SESSION_LIFETIME=120
OC_SESSION_EXPIRE_ON_CLOSE=false
OC_SESSION_ENCRYPT=false
OC_SESSION_COOKIE=october_session
OC_QUEUE_DRIVER=sync
OC_MAIL_DRIVER=mail
OC_MAIL_HOST=
OC_MAIL_PORT=
OC_MAIL_ENCRYPTION=tls
OC_MAIL_USERNAME=
OC_MAIL_PASSWORD=
OC_ROUTES_CACHE=false
OC_ASSET_CACHE=false
OC_LINK_POLICY=detect
OC_ENABLE_CSRF=true
OC_FRESH_INSTALL=false
# Redownload and migrate when restarting the container
OC_REDO_PLUGINS=false
OC_REDO_THEMES=false
OC_PLUGINS=october.drivers,rainlab.blog,rainlab.pages,rainlab.sitemap,offline.gdpr
OC_THEMES=
OC_ACTIVE_THEME=

# Repeat this block incrementing 0 to 99 for each git provider you might use
#GIT_0_DOMAIN=github.com
#GIT_0_USERNAME=
#GIT_0_TOKEN=
#GIT_0_PLUGIN_REPOS=mynamespace/myrepo:localnamespace/localpluginname,mynamespace/myotherrepo:localnamespace/otherlocalpluginname
#GIT_0_THEME_REPOS=mynamespace/myrepo:localthemename,mynamespace/myotherrepo:otherlocalthemename




### Nginx ###

 # Usually set to number of available cores you want to use
NGINX_WORKER_PROCESSES=1
 # on, off - Delete /etc/nginx/sites-enabled/default.conf & upstream.conf - Useful if using another container to manage configuration
 # Dont enable this if you're using your own mounted configuration (you probably should be)
REMOVE_INITIAL_CONFIG=off
 # on, off
PROXY_CACHE_STATUS=off

 # on, off - Redirect from www -> non-www or non-www -> www
PREFER_WWW=off

### Php upstream

 # If running alongside a php fpm container we can add it as upstream
PHP_UPSTREAM_CONTAINER=octobercms
PHP_UPSTREAM_PORT=9000

### Modsecurity

  # on, off
MODSECURITY_STATUS=off
 # DetectionOnly, On, Off
MODSECURITY_POLICY=DetectionOnly

### Brotli

 # on, off
BROTLI_STATUS=off
BROTLI_STATIC_STATUS=off
 # 0 to 11
BROTLI_COMP_LEVEL=4
 # File types to compress
BROTLI_TYPES=text/plain text/css application/javascript application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript

### Gzip

 # on, off
GZIP_STATUS=off
 # 1 to 9
GZIP_COMP_LEVEL=1
 # File types to compress
GZIP_TYPES=text/plain text/css application/javascript application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript

### Geoip2

 # on, off
GEOIP2_STATUS=off

### Pagespeed

 # on, off, standby, unplugged
PAGESPEED_STATUS=unplugged
 # CoreFilters, PassThrough, OptimizeForBandwidth
PAGESPEED_REWRITE_LEVEL=CoreFilters
 # See https://www.modpagespeed.com/doc/config_filters
PAGESPEED_ENABLE_FILTERS=
PAGESPEED_DISABLE_FILTERS=

# Php

TIMEZONE=UTC
PHP_MEMORY_LIMIT=128M
FPM_MODE=dynamic
FPM_START_SERVERS=1
FPM_MAX_CHILDREN=5
FPM_MIN_SPARE_SERVERS=1
FPM_MAX_SPARE_SERVERS=4
FPM_MAX_REQUESTS=500
